/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Patua+One&display=swap');
/*Colours*/
:root{
  --darcula-black: 		hsl(0, 0%, 10%);
}


* {
  box-sizing: border-box;
  background-color: var(--darcula-black);
  color:hsl(45, 29%, 96%);

}

body{
  height: 70%;
  max-width:80%;
  margin: 70px auto;
}
section{
  max-width: 500px;
}
h1, h2, h3 {
  font-family:'Patua One';
  font-weight: 500;
} 

p{
  font-size:1.5em;
  font-family: 'lato';
}

.app-body{
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 200px auto 100px;
}

.app-title{
  text-align: center;
  font-size: 4em;
}

.matrix-section{
  margin: 50px 10px;
}


.matrix{
  background-color:#1212;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.square{
  height: 3em;
  width: 3em;
  border-radius: 4px;
  
}

.red-square{
  background-color: red;
}
.amber-square{
  background-color: orange;
}
.green-square{
  background-color: green;
}

.results-section{
  
}

.result-array{
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  max-width: 500px;
  margin: 0 auto;
}

/****************Autocomplete*************************/



.autocomplete {
  position: relative;
  display: inline-block;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;

}

#autocomplete-input {
  font-family: 'lato';
  color: black;
  background-color: #f1f1f1;
  width: 100%;
}

#autocomplete-submit {
  font-family: 'lato';
  font-weight: 600;
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
